boto==2.49.0
boto3==1.9.37
botocore==1.12.37
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
Django==2.0
django-cors-headers==2.4.0
django-jet==1.0.8
djangorestframework==3.9.0
docutils==0.14
en-core-web-md==2.0.0
en-core-web-sm==2.0.0
gensim==3.6.0
idna==2.7
jmespath==0.9.3
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
nltk==3.3
numpy==1.15.4
pandas==0.23.4
plac==0.9.6
preshed==2.0.1
py4j==0.10.7
Pyphen==0.9.5
pyspark==2.4.0
python-dateutil==2.7.5
pytz==2018.7
regex==2018.1.10
repoze.lru==0.7
requests==2.20.0
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.7.1
spacy==2.0.16
textstat==0.5.1
thinc==6.12.0
toolz==0.9.0
tqdm==4.28.1
ujson==1.35
urllib3==1.24.1
wrapt==1.10.11
xgboost==0.80
